#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  /* Set background to dark color */
  background-color: #f0e6bb;
  /* Create radial gradient */
  background-image: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  /* Center the gradient */
  background-position: center;
  /* Ensure the gradient covers the entire viewport */
  background-size: cover;
  /* Make sure the background stays fixed while scrolling */
  background-attachment: fixed;
}
