#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
body {
  /* Set background to dark color */
  background-color: #f0e6bb;
  /* Create radial gradient */
  background-image: url(../src/assets/bg3.png);
  /* Center the gradient */
  background-position: center;
  /* Ensure the gradient covers the entire viewport */
  background-size: cover;
  /* Make sure the background stays fixed while scrolling */
  background-attachment: fixed;

  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensure the App component spans the full width */
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
