body {
  margin-top: 15%;
  color: white;
  text-align: center;
}

.open {
  margin-top: 15%;
}
.closed {
  background-color: black;
}

.date {
  font-size: 2rem;
}
.status {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: bold;
}

.hours {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin-top: 10px;
}
