/* Rates.module.css */
.container {
  display: flex;
  flex-direction: column;
  margin: 10% 15%;
}

.content {
  flex: 1;
}

.content h1 {
  padding-bottom: 10%;
}

img {
  width: 100%;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 3rem;
  }
}
