/* Rates.module.css */
.container {
  display: flex;
  flex-direction: column;
  margin: 5% 15%;
}

.content {
  flex: 1;
}

.content p {
  font-size: 1.5rem;
}

img {
  width: 100%;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 3rem;
  }

  .content p {
    font-size: 1rem;
  }
}
