.footer {
  color: white;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 100vw;
  bottom: 0;

  left: 0;
}

.footer a {
  color: rgb(0, 204, 255);
  font-weight: 600;
}

.footer a:hover {
  color: rgb(162, 244, 255);
  font-weight: 600;
}
/* .leftFooter {
  flex: 1;
  text-align: left;
}

.rightFooter {
  flex: 2;
  text-align: right;
  margin-right: 5%;
}

.socialContainer {
  display: inline-block;
  margin: 0 10px;
}

.socialIcon {
  color: white;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s;
  text-decoration: none;
}

.socialIcon:hover {
  color: #3b5998; /* Facebook blue */
/* } */

/* Add media query to handle smaller screens */
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}
/* .leftFooter,
  .rightFooter {
    text-align: left;
    flex: unset;
    margin-bottom: 10px;
  }

  .rightFooter {
    text-align: left;
  }
} */
