.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.slogan p {
  font-family: "Lobster", cursive;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.button {
  background-color: #01bf71; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Get it to display like a button */
  font-size: 16px; /* Increase font size */
  margin: 20px 0; /* Some top and bottom margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 8px; /* Rounded corners */
  /* font-family: "Lobster", cursive; */
}

.button:hover {
  background-color: #45a049; /* Darker green on hover */
}
