/* Rates.module.css */
.ratesTable {
  width: 100%;
  border-collapse: collapse;
}

.ratesTable th,
.ratesTable td {
  padding: 12px;
  border: 1px solid #ddd; /* Add borders */
}

.ratesTable th {
  background-color: #f2f2f2; /* Add background color to header */
  text-align: left;
}

@media screen and (max-width: 768px) {
  .ratesTable {
    width: 20%;
    margin: 0 auto; /* Center horizontally */
    border-collapse: collapse;
  }

  .ratesTable th,
  .ratesTable td {
    padding: 2%;
    border: 1% solid #ddd; /* Add borders */
  }

  .ratesTable th {
    background-color: #f2f2f2; /* Add background color to header */
    text-align: left;
  }
}
